
  <div class="mx-auto md:w-2/3 w-full flex">

    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      
      <%#= render @list %>
      
        <div class="flex justify-between items-center">
          <h1 class="font-bold text-4xl"><%= @list.name %></h1>
          <%= link_to 'Add Item', 
              new_list_item_path(@list),
              data: { turbo_frame: dom_id(Item.new)},
              class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
        </div>

      <%= turbo_frame_tag Item.new %>
      <%= turbo_frame_tag "items" do %>
        <%= render @items, list: @list %>
      <% end %>
    </div>
    <div><%= link_to 'All Lists', lists_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></div>
  </div>

