<%= turbo_frame_tag item do %>
  <div id="<%= dom_id item %>">
    <p class="my-5">
      <%= item.name %>
    

    <%# if action_name != "show" %>
      <%#= link_to "Show this item", item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          

          <%= button_to 'Delete', 
          [@list, item],
          method: :delete,
          # form: { data: { turbo_confirm: "Are you sure?" } }, 
          class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>

          <%= link_to 'Edit', 
          [:edit, @list, item], 
          class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>

      <hr class="mt-6">
    <%# end %>
    </p>
  </div>
<% end %>